h1 { color: #DA7B93;
    font-family: 'Amatic SC', cursive;
}
h2 { color: #DA7B93;
    font-family: 'Amatic SC', cursive;
}
body {
    background-color: #2f4454;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #2E151B;
    position: fixed;
    top: 0; 
    width: 100%;
    font-family: 'Amatic SC', cursive;
}
.navbar a {
    float: left;
    display: block;
    color: #da7b93;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover {
    background: #ddd;
    color: black;
}
.main {
    margin-top: 50px;
}
