h1 { color: #2EB6CC; }
h2 { color: #2ECC71; }
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
.red {
float: right;
display: block;
clear: both;
margin-bottom: 10px;
padding: 5px;
font-size: 16px;
color: #fff;
background: #fc2c20;
}

.red a {
color: #fff;
}
